ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#logo{
	width: 30px;
	padding: 0;
}
li{
	float: left;
	padding: 10px;
}
li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover{
	background-color: green;
	color: black;
}
body{
	background-color: #ffebcd;
}
.navbar{
	background-color: #ffebcd;
	margin: 10px;
}
ul.dropdown-menu{
	background-color: #ffebcd;
}
.paraLeft{
	border-top: 5px solid black;
	border-left: 5px solid black;
	border-right: 3px solid black;
	border-bottom: 5px solid black;
	padding: 5px;
}
.paraRight{
	border-top: 5px solid black;
	border-left: 2px solid black;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
	padding: 5px;
}
.homeJumbotron{
	text-align: center;
	background-color: green;
	color: white;
}
.footer{
	text-align: center;
	background-color: green;
	color: white;
	margin: 10px;
}
li.active{
	background-color: green;
	color: white;
}