ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#logo{
	width: 30px;
	padding: 0;
}
li{
	float: left;
	padding: 10px;
}
li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover{
	background-color: lightblue;
	color: black;
}
body{
	background-color: #ffebcd;
}
.navbar{
	background-color: #ffebcd;
	margin: 10px;
}
ul.dropdown-menu{
	background-color: #ffebcd;
}